.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 3rem;
}

section {
    margin: 20px 0;
}

.img {
    margin-top: 2rem;
    width: 8rem;
    height: 8rem;
}

.medicalRecords {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    color: #333;
}

.recordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.recordItem {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer; 
}

.recordItem:hover {
    background-color: #ccc; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.recordItem:hover h3 {
    background-color: #ccc;
}

.recordItem h3 {
    margin: 0;
    color: #333;
}
